body {
  background: var(--argent-black);
  color: #ffffff;
  font-size: var(--h3-fontsize);
}

.logo-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222221;
}


.logo {
  display: block;
  width: 200px;
  margin: 0;
  background: url('../images/logo-hopper.svg') no-repeat;
  background-size: cover;
}


@media (min-width: 576px) {
  .logo {
    width: 330px;
  }
}


section {
  padding: 24vh 0 0;
}

.intro {
  text-align: center;
}

.intro hr {
  max-width: 100px;
  border-top: 2px var(--argent-clay) solid;
  margin: 4rem auto 6rem;
}

.intro p {
  color: var(--argent-light-charcoal);
}


.iphone {
  width: 100%;
  max-width: 240px;
}

.image-text__text {
  padding: 4rem 0;
}

.google-slides {
  height: 300px;
  padding-bottom: 56.25%;
  position: relative;
}

.google-slides iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}